:root {
  --brown: 88, 79, 73;
  --main: rgba(var(--brown), 1);
  --lighter-main: rgba(var(--brown), 0.4);
  --background: rgb(250, 247, 244);
  --rounded: 0.7rem;
  --hero-text: 2.3rem;
}

@font-face {
  font-family: "Chivo";
  src: url("/Chivo.ttf");
}
@font-face {
  font-family: "Petrona";
  src: url("/Petrona.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #d7d7d77d transparent;
  overflow-x: hidden;
}

body {
  --serif: "Petrona", "Times New Roman", Times,
    serif;
  --sans-serif: "Chivo", system-ui, sans-serif;

  font-family: var(--sans-serif);
  color: var(--main);
  background-color: var(--background);
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main {
  margin: 0 auto 4rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

a,
a:visited,
a:active {
  color: var(--main);
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: var(--serif);
}

h1 {
  font-weight: 800;
  font-size: 6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* --------------- Header --------------- */

header {
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/logo-icon.png");
}

.logo.icon:hover {
  cursor: pointer;
}

.logo.icon + div {
  opacity: 0;
  font-size: 0.8rem;

  line-height: 0.7rem;
  margin-left: 0.1rem;
  margin-right: auto;
}

.logo.icon:hover + div {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.nav-icon {
  display: none;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

header,
footer {
  padding: 0.7rem 1.5rem;
}

/* --------------- Footer --------------- */

footer {
  font-size: 0.8rem;
  color: var(--lighter-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p:hover {
  color: var(--main);
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.socials .icon:first-of-type {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("linkedin-icon.png");
}

/* --------------- Home Page: Hero --------------- */

.hero {
  margin-top: 2rem;
  transform: scale(80%);
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.hero h1 {
  line-height: 100%;
  letter-spacing: -3px;
}

.hero h2 {
  font-family: var(--sans-serif);
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.hero div:first-child {
  position: relative;
}

#playground-slide {
  width: clamp(15rem, 100%, 25rem);
}

.greeting {
  position: absolute;
  top: -4.5rem;
  left: -1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  animation: float 1.5s linear alternate infinite;
}

.greeting:hover {
  cursor: pointer;
}

#waving-hand {
  height: 4rem;
  width: 4rem;

  background-image: url("/hand.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: rotate(45deg);
}

.greeting.slide-down {
  top: -2rem;
  left: 3rem;
  offset-path: path(
    "M0.0166016 1.00168C44.2666 0.250527 55.2666 251.251 199.267 279.25C343.267 307.249 401.267 271.25 543.267 261.25C685.267 251.25 731.267 359.25 731.267 359.25"
  );
  animation: slide-down 5s ease-in 1;
}

@keyframes float {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes slide-down {
  10% {
    offset-distance: 2%;
    left: 1.5rem;
    top: -2.5rem;
  }
  25% {
    offset-distance: 80%;
    top: -2.8rem;
  }
  55% {
    offset-distance: 82%;
    opacity: 1;
  }
  60% {
    offset-distance: 100%;
    opacity: 0;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

.hero-text {
  max-width: min-content;
  margin-top: -3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1:first-child {
  color: var(--lighter-main);
  font-size: var(--hero-text);
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 0.7rem;
}

.dotted-text {
  opacity: 0.2;
}

/* --------------- Home Page: Marquee --------------- */

.marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#marquee-controller {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#marquee-controller button {
  height: 1rem;
  width: 2rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
#marquee-controller button:hover {
  transform: scale(1.2);
}
#marquee-controller input[type="range"] {
  --thumb-image: none;
  --thumb-height: 12px;
  --thumb-color: var(--main);
  --thumb-outline: 5px solid var(--background);

  width: 10rem;
  height: 1px;
  direction: rtl;

  border: 1px solid var(--main);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}
#marquee-controller
  input[type="range" i]::-webkit-slider-thumb {
  height: var(--thumb-height);
  aspect-ratio: 1;

  background-color: var(--thumb-color);
  border-radius: 50%;
  outline: var(--thumb-outline);
  box-shadow: none;

  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-appearance: none;
  appearance: none;
}
#marquee-controller
  input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;

  background-color: transparent;
  box-shadow: none;
  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -moz-appearance: none;
  appearance: none;
}

.marquee-text {
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  border-bottom: 3px dashed
    rgba(var(--brown), 0.1);

  display: flex;
  gap: 0.2rem;
}
.marquee-text p {
  min-width: max-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  animation: scroll linear infinite forwards;
}
.marquee-text p::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 2rem;
  margin-left: 3rem;
  margin-bottom: -0.1rem;

  background-image: url("/train.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0.2rem));
  }
}

/* --------------- Home Page: Pitch --------------- */
#pitch {
  padding: 15vh 0;
  background-color: var(--main);

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 3rem;
}

#elevator-scroll {
  top: 0;

  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-left: 2rem;
  width: 2px;
  height: 100%;
  background-color: white;
}

#pitch div:not(#elevator-scroll) {
  width: min(100%, 50rem);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#pitch div > * {
  color: var(--background);
  width: 23rem;
}

#pitch h2 {
  font-weight: 500;
  font-family: var(--sans-serif);
}

#pitch div:nth-child(1) {
  gap: 1.5rem;
}

#pitch div:nth-child(1) > p:first-of-type {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--serif);
  line-height: 100%;
}

#pitch div:nth-child(2) {
  align-self: flex-end;
}

/* --------------- Home Page: Projects --------------- */

.projects {
  text-align: center;
}

.projects > div {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  gap: 1.5rem 2rem;
  flex-wrap: wrap;
}

.projects > div h3 {
  z-index: 5;
  font-family: var(--sans-serif);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--background);
  margin: 0 auto -1.8rem;
  width: 80%;
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
}

.projects article {
  max-width: 20rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects article div {
  height: 12rem;
  width: 20rem;
  overflow: hidden;
  border-radius: var(--rounded);
}

.projects article img {
  height: auto;
  width: 100%;

  transition: transform 300ms ease-in-out;
}

.projects article img:hover {
  transform: scale(1.1);
}

.projects ul {
  list-style: none;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.projects li {
  font-size: 0.9rem;
  width: max-content;
  padding: 0.3rem 0.7rem;
  background-color: rgba(var(--brown), 0.2);
  border-radius: 0.4rem;
}

/* --------------- MEDIUM SIZE DEVICE --------------- */

@media (max-width: 600px) {
  /* -------- GENERAL -------- */
  body {
    padding: 1.5rem 1rem;
  }

  #root {
    gap: 1rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  main {
    margin: 0;
  }

  /* -------- Header -------- */
  /* Hamburger menu */
  .nav-icon {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  /* Each horizontal bar in hamburger menu */
  .nav-icon > div {
    height: 0.1rem;
    width: 1.5rem;
    background-color: var(--main);
    border-radius: 0.2rem;

    transition: transform 200ms ease-in-out;
  }

  .nav-icon.x-mark > div:nth-child(1) {
    transform: translateY(0.3rem) rotateZ(45deg);
  }

  .nav-icon.x-mark > div:nth-child(2) {
    display: none;
  }

  .nav-icon.x-mark > div:nth-child(3) {
    transform: translateY(-0.3rem) rotateZ(-45deg);
  }

  .nav-items {
    position: fixed;
    right: 1rem;

    padding: 2rem;

    box-shadow: 1px 1px 0.4rem rgba(0, 0, 0, 0.2);
    border-radius: var(--rounded);

    flex-direction: column;
    gap: 1rem;
  }

  /* -------- Home Page: Hero -------- */
  .hero {
    max-width: 100%;
    /* align-self: flex-start; */
    height: auto;
  }

  .greeting {
    gap: 0;
  }

  #waving-hand {
    transform: scale(0.7) rotate(45deg);
  }

  .greeting.slide-down {
    left: 4rem;
    top: -1.9rem;
    offset-path: path(
      "M0.0195312 1.00222C20.5176 0.609327 11.8991 50.4984 58.4593 132.749C105.02 215 159.02 169 195.02 185.001"
    );
  }

  @keyframes slide-down {
    0% {
      top: 0rem;
      left: 2.5rem;
      offset-distance: 5%;
    }
    5% {
      top: 1rem;
      left: 3rem;
      offset-distance: 7%;
    }
    15% {
      top: 4.2rem;
      left: 6rem;
      offset-distance: 100%;
    }
    17% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
    100% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-text p {
    animation-play-state: paused !important;
    overflow-x: scroll;
  }
}
