:root {
  --brown: 88, 79, 73;
  --main: rgba(var(--brown), 1);
  --lighter-main: rgba(var(--brown), 0.4);
  --background: rgb(250, 247, 244);
  --rounded: 0.7rem;
  --hero-text: 2.3rem;
  --shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Chivo";
  src: url("/fonts/Chivo.ttf");
}
@font-face {
  font-family: "Petrona";
  src: url("/fonts/Petrona.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #d7d7d77d transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

body {
  --serif: "Petrona", "Times New Roman", Times,
    serif;
  --sans-serif: "Chivo", system-ui, sans-serif;

  font-family: var(--sans-serif);
  color: var(--main);
  background-color: var(--background);
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

main {
  margin: 0 auto 4rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

a,
a:visited,
a:active {
  color: var(--main);
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: var(--serif);
}

h1 {
  font-weight: 800;
  font-size: 6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  height: auto;
}

/* Text Styles */
.highlight {
  background-color: rgb(255, 227, 190);
}

.bold {
  font-weight: bold;
}

hr {
  opacity: 20%;
}

aside {
  font-size: x-small;
  padding: 1.5rem;
  background-color: rgba(var(--brown), 0.1);
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* --------------- Header --------------- */

header {
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/personal-logo.png");
}

.logo.icon:hover {
  cursor: pointer;
}

.logo.icon + div {
  opacity: 0;
  font-size: 0.8rem;

  line-height: 0.7rem;
  margin-left: 0.1rem;
  margin-right: auto;
}

.logo.icon:hover + div {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.nav-icon {
  display: none;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

header,
footer {
  padding: 0.7rem 1.5rem;
}

/* --------------- Footer --------------- */

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: var(--lighter-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p:hover {
  color: var(--main);
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.socials .icon:first-of-type {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("icons/linked-in.png");
}

/* --------------- Home Page: Hero --------------- */

.hero {
  margin-top: 2rem;
  transform: scale(80%);
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.hero h1 {
  line-height: 100%;
  letter-spacing: -3px;
}

.hero h2 {
  font-family: var(--sans-serif);
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.hero div:first-child {
  position: relative;
}

#playground-slide {
  width: clamp(15rem, 100%, 25rem);
}

.greeting {
  position: absolute;
  top: -4.5rem;
  left: -1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  animation: float 1.5s linear alternate infinite;
}

.greeting:hover {
  cursor: pointer;
}

#waving-hand {
  height: 4rem;
  width: 4rem;

  background-image: url("/home/hand.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: rotate(45deg);
}

.greeting.slide-down {
  top: -2rem;
  left: 3rem;
  offset-path: path(
    "M0.0166016 1.00168C44.2666 0.250527 55.2666 251.251 199.267 279.25C343.267 307.249 401.267 271.25 543.267 261.25C685.267 251.25 731.267 359.25 731.267 359.25"
  );
  animation: slide-down 5s ease-in 1;
}

@keyframes float {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes slide-down {
  10% {
    offset-distance: 2%;
    left: 1.5rem;
    top: -2.5rem;
  }
  25% {
    offset-distance: 80%;
    top: -2.8rem;
  }
  55% {
    offset-distance: 82%;
    opacity: 1;
  }
  60% {
    offset-distance: 100%;
    opacity: 0;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

.hero-text {
  max-width: min-content;
  margin-top: -3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1:first-child {
  color: var(--lighter-main);
  font-size: var(--hero-text);
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 0.7rem;
}

.dotted-text {
  opacity: 0.2;
}

/* --------------- Home Page: Marquee --------------- */

.marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#marquee-controller {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#marquee-controller button {
  height: 1rem;
  width: 2rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
#marquee-controller button:hover {
  transform: scale(1.2);
}
#marquee-controller input[type="range"] {
  --thumb-image: none;
  --thumb-height: 12px;
  --thumb-color: var(--main);
  --thumb-outline: 5px solid var(--background);

  width: 10rem;
  height: 1px;
  direction: rtl;

  border: 1px solid var(--main);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}
#marquee-controller
  input[type="range" i]::-webkit-slider-thumb {
  height: var(--thumb-height);
  aspect-ratio: 1;

  background-color: var(--thumb-color);
  border-radius: 50%;
  outline: var(--thumb-outline);
  box-shadow: none;

  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-appearance: none;
  appearance: none;
}
#marquee-controller
  input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;

  background-color: transparent;
  box-shadow: none;
  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -moz-appearance: none;
  appearance: none;
}

.marquee-text {
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  border-bottom: 3px dashed
    rgba(var(--brown), 0.1);

  display: flex;
  gap: 0.2rem;
}
.marquee-text p {
  min-width: max-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  animation: scroll linear infinite forwards;
}
.marquee-text p::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 2rem;
  margin-left: 3rem;
  margin-bottom: -0.1rem;

  background-image: url("/home/train.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0.2rem));
  }
}

/* --------------- Home Page: Pitch --------------- */
#pitch {
  padding: 15vh 0;
  background-color: var(--main);

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 3rem;
}

#elevator-scroll {
  top: 0;

  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-left: 2rem;
  width: 2px;
  height: 100%;
  background-color: white;
}

#pitch > div:not(#elevator-scroll) {
  position: relative;
  width: min(100%, 50rem);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#pitch div > * {
  color: var(--background);
  width: 23rem;
}

#pitch h2 {
  font-weight: 500;
  font-family: var(--sans-serif);
}

#pitch div:nth-child(1) {
  gap: 1.5rem;
}

#pitch div:nth-child(1) > p:first-of-type {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--serif);
  line-height: 100%;
}

#pitch div:nth-child(2) {
  align-self: flex-end;
}

#vacuum {
  position: absolute;
  max-width: 12rem;
  height: auto;
  right: 9rem;
  top: -8rem;
  filter: drop-shadow(
    1px 4px 3px rgba(0, 0, 0, 0.4)
  );
}

/* --------------- Home Page: Projects --------------- */

.projects {
  text-align: center;
}

.projects > div {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  gap: 1.5rem 2rem;
  flex-wrap: wrap;
}

.projects > div h3 {
  z-index: 5;
  font-family: var(--sans-serif);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--background);
  margin: 0 auto -1.8rem;
  width: 80%;
  border-radius: 0.3rem;
  padding: 0.5rem 1.2rem;
}

.projects article {
  max-width: 20rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects article div {
  height: 12rem;
  width: 20rem;
  overflow: hidden;
  border-radius: var(--rounded);
}

.projects article img {
  height: auto;
  width: 100%;

  transition: transform 300ms ease-in-out;
}

.projects article img:hover {
  transform: scale(1.1);
}

.tags {
  list-style: none;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.tags li {
  font-size: small;
  width: max-content;
  padding: 0.3rem 0.7rem;
  border: 2px solid var(--main);
  border-radius: var(--rounded);
}

/* --------------- Project Page --------------- */

.project-page {
  margin-top: 1rem;
  max-width: 42rem;
}

.project-page article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-page h1 {
  text-align: center;
  font-size: 3.2rem;
}

.project-page h2 {
  font-weight: 800;
}

.project-page p {
  line-height: 1.3;
}

.project-page h1 + hr {
  margin: 1rem 0 1.5rem;
}

.project-page .tags {
  margin: 1rem 0;
}

.project-page p > a {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--lighter-main);
  transition: text-decoration 200ms ease-in-out;
}

.project-page p > a:hover {
  text-decoration-color: var(--main);
}

/* --------------- Button Bar --------------- */

.button-bar {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: rgba(var(--brown), 0.1);
  border-radius: var(--rounded);

  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  align-items: center;
}

.button-bar p {
  margin-right: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-bar p::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-bar a {
  font-family: var(--sans-serif);
  font-size: small;
  padding: 0.5rem 1rem;
  border: 2px dotted var(--main);
  border-radius: var(--rounded);
  background-color: transparent;
  cursor: pointer;
}

.button-bar a:hover {
  border: 2px solid var(--main);
}

/* --------------- Carousel --------------- */

.carousel,
.carousel-nav {
  width: 100%;
}

.carousel > img:first-of-type,
.carousel-nav li > img {
  width: 100%;
  height: auto;

  border-radius: var(--rounded);
}

.carousel-nav {
  margin-top: 0.5rem;

  display: flex;
  gap: 0.8rem;

  overflow-x: hidden;
}

.carousel-nav li {
  list-style: none;
  width: 10rem;
  flex: 0 0 25%;
}

.carousel-nav li > img {
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.carousel > img:first-of-type,
.carousel-nav li > img.selected {
  box-shadow: var(--shadow);
}

.carousel-nav li > img:not(.selected) {
  filter: brightness(0.9);
}

/* --------------- Callout --------------- */

.callout {
  padding: 2rem;
  border: 2px solid var(--main);
  border-radius: var(--rounded);

  display: flex;
  gap: 1.5rem;
}

.callout .icon {
  flex: 1;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: -0.4rem;
}

.callout h3 {
  font-family: var(--sans-serif);
  font-weight: 600;
}

.callout-content {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --------------- Accordion --------------- */
.accordion {
  padding: 1rem 2rem;
  border: 2px solid var(--main);
  border-radius: var(--rounded);
}

.accordion button {
  font-family: var(--sans-serif);
  font-size: medium;
  font-weight: 600;
  color: var(--main);

  display: flex;
  gap: 1rem;
  align-items: center;

  cursor: pointer;
}

.accordion button::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  min-width: 0.8rem;
  background-image: url("/icons/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 100ms ease-in-out;
}

.accordion button.open::before {
  transform: rotate(90deg);
}

.accordion-body {
  margin-top: 1rem;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --------------- One Column --------------- */
.one-col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.one-col li {
  margin-left: 2rem;
  padding-left: 1rem;
}

/* --------------- Two Column --------------- */
.two-col {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.two-col > div {
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------ Captioned Image ------------- */
.image-caption img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--rounded);
}

.image-caption figcaption {
  text-align: center;
  font-size: small;
}

.scrapbook figcaption {
  padding: 0.5rem 1rem;
  background-image: url("/decorative/tape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.3rem;
}

.modern img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modern figcaption {
  padding: 1rem;
  background-color: rgba(var(--brown), 0.1);
  border-bottom-left-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
}

/* ------------ Word Blocks ------------- */

.word-blocks {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.word-blocks p {
  flex: 1 1 30%;
  font-size: small;
  padding: 1.5rem;
  border-radius: var(--rounded);
  background-color: rgba(var(--brown), 0.1);
}

/* --------------- Project Page: Grocery App --------------- */
#grocery-twist h3 {
  margin-top: 1rem;
  font-family: var(--sans-serif);
  font-weight: bold;
  font-size: medium;
}

#grocery-design > img:first-of-type {
  border: 2px solid var(--lighter-main);
  border-radius: var(--rounded);
}

#grocery-design > img {
  margin: 1rem 0;
}

#grocery-design .accordion-body > .two-col {
  gap: 1.5rem;
  margin: 1rem 0;
}

#grocery-dev .button-bar p::before {
  background-image: url("/icons/search.png");
}

/* --------------- MEDIUM SIZE DEVICE --------------- */

@media (max-width: 600px) {
  /* -------- GENERAL -------- */
  body {
    padding: 1.5rem 1rem;
  }

  #root {
    gap: 1rem;
  }

  main,
  main.project-page {
    margin: 4rem 0 0 0;
  }

  h1 {
    font-size: 5.2rem;
  }

  /* -------- Header -------- */
  header,
  footer {
    padding: 0;
  }

  header {
    z-index: 1000;
    width: 90%;
    position: fixed;
    padding: 0.5rem;

    outline: 3px solid rgba(250, 247, 244, 0.9);
    border-radius: var(--rounded);

    background-color: rgba(250, 247, 244, 0.9);
    backdrop-filter: blur(5px);
  }

  /* Hamburger menu */
  .nav-icon {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  /* Each horizontal bar in hamburger menu */
  .nav-icon > div {
    height: 0.1rem;
    width: 1.5rem;
    background-color: var(--main);
    border-radius: 0.2rem;

    transition: transform 200ms ease-in-out;
  }

  .nav-icon.x-mark > div:nth-child(1) {
    transform: translateY(0.3rem) rotateZ(45deg);
  }

  .nav-icon.x-mark > div:nth-child(2) {
    display: none;
  }

  .nav-icon.x-mark > div:nth-child(3) {
    transform: translateY(-0.3rem) rotateZ(-45deg);
  }

  .nav-items {
    position: fixed;
    right: 1rem;
    font-size: 1.2rem;
    padding: 2rem;
    margin-top: 1rem;

    background-color: var(--background);
    box-shadow: var(--shadow);
    border-radius: var(--rounded);

    flex-direction: column;
    gap: 1rem;
  }

  /* -------- Home Page: Hero -------- */
  .hero {
    max-width: 100%;
    /* align-self: flex-start; */
    height: auto;
  }

  .greeting {
    gap: 0;
  }

  #waving-hand {
    transform: scale(0.7) rotate(45deg);
  }

  .greeting.slide-down {
    left: 4rem;
    top: -1.9rem;
    offset-path: path(
      "M0.0195312 1.00222C20.5176 0.609327 11.8991 50.4984 58.4593 132.749C105.02 215 159.02 169 195.02 185.001"
    );
  }

  @keyframes slide-down {
    0% {
      top: 0rem;
      left: 2.5rem;
      offset-distance: 5%;
    }
    5% {
      top: 1rem;
      left: 3rem;
      offset-distance: 7%;
    }
    15% {
      top: 4.2rem;
      left: 6rem;
      offset-distance: 100%;
    }
    17% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
    100% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
  }

  /* -------- Home Page: Projects --------- */
  .projects article div {
    height: auto;
    width: 100%;
  }

  .projects article img {
    transform: scale(105%);
    width: 100%;
  }

  .projects > div {
    gap: 3rem;
  }

  /* -------- Project Page --------- */
  .project-page {
    padding: 0 0.5rem;
  }
  .project-page h1 {
    font-size: 2rem;
  }

  .project-page ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  /* -------- Callout --------- */
  .callout {
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .callout h3 {
    font-size: 1rem;
  }
  .callout > .icon {
    width: 2rem;
  }

  /* -------- Accordion --------- */
  .accordion {
    padding: 1rem;
  }
  .accordion button {
    text-align: left;
    align-items: baseline;
    gap: 0.5rem;
  }
  .accordion button::before {
    min-width: 0.6rem;
  }
  .accordion-body {
    padding: 0 0.5rem;
  }

  /* -------- Button Bar --------- */
  .button-bar a {
    width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-text p {
    animation-play-state: paused !important;
    overflow-x: scroll;
  }
}
