:root {
  /* Colors */
  --black: 60, 55, 55;
  --white: 255, 255, 255;
  --main: rgba(var(--black), 1);
  --lighter-main: rgba(var(--black), 0.4);
  --background: rgb(var(--white));
  --darker-background: rgb(240, 240, 240);
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.45);

  /* Border radius */
  --rounded: 0.7rem;
  --less-rounded: 0.3rem;

  /* Font sizing */
  --H1: 5rem;
  --H2: 2rem;
  --H3: 1.5rem;
  --P: 1.7rem;
  --S: 1.5rem;
  --XS: 1rem;
  --XXS: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #d7d7d77d transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

/* --------- Fonts ----------- */

@font-face {
  font-family: "Chivo";
  src: url("/fonts/Chivo.ttf");
}

@font-face {
  font-family: "Petrona";
  src: url("/fonts/Petrona.ttf");
}

@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/Funnel-Display.ttf");
}

@font-face {
  font-family: "Dongle";
  src: url("/fonts/Dongle-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Dongle";
  src: url("/fonts/Dongle-Light.ttf");
  font-weight: light;
}

@font-face {
  font-family: "Dongle";
  src: url("/fonts/Dongle-Regular.ttf");
  font-weight: regular;
}

/* --------- General styling ----------- */

body {
  --serif: "Funnel Display", "Times New Roman",
    Times, serif;
  --sans-serif: "Dongle", system-ui, sans-serif;

  font-family: var(--sans-serif);
  text-wrap: pretty;
  color: var(--main);
  background-color: var(--background);
}

#root {
  min-height: 100vh;

  /* Grid background from https://ibelick.com/blog/create-grid-and-dot-backgrounds-with-css-tailwind-css */
  background-image: radial-gradient(
    #e5e7eb 1px,
    transparent 1px
  );
  background-size: 16px 16px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

main {
  margin: 0 auto 4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* -------- Text styling --------- */

h1,
h2,
h3,
p,
li {
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  font-family: var(--serif);
}

h1 {
  font-weight: 700;
  font-size: var(--H1);
}

h2 {
  font-size: var(--H2);
}

h3 {
  font-size: var(--H3);
  font-weight: 700;
}

p,
li {
  font-size: var(--P);
}

.highlight {
  background-color: rgb(255, 227, 190);
}

.bold {
  font-weight: bold;
}

aside {
  padding: 1.5rem;
  background-color: rgba(var(--black), 0.1);
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

code {
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  background-color: rgba(var(--black), 0.1);
  border-radius: var(--less-rounded);
}

/* Tags */

.tags {
  list-style: none;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.tags li {
  width: max-content;
  padding: 0.1rem 0.7rem;
  border-radius: var(--rounded);
  background-color: rgba(var(--black), 0.1);
}

/* Speech Bubble */

.speech-bubble {
  --bubble-color: var(--darker-background);
  display: inline-block;
  position: absolute;
  font-size: var(--P);

  padding: 0.3rem 0.5rem;

  background-color: var(--bubble-color);
  border-radius: var(--rounded);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.speech-bubble::before,
.speech-bubble::after {
  left: -9px;
  bottom: 0;
  content: "";
  position: absolute;
}

.speech-bubble::before {
  z-index: -1;
  width: 1rem;
  height: 1rem;
  background-color: var(--bubble-color);
  border-bottom-right-radius: 0.7rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.speech-bubble::after {
  width: 0.5rem;
  height: 1.1rem;
  background-color: var(--background);
  border-bottom-right-radius: 0.5rem;
}

/* -------- Links and buttons --------- */

a,
a:visited,
a:active {
  color: var(--main);
  text-decoration: none;
}

button {
  font-family: var(--sans-serif);
  border: none;
  background-color: transparent;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* -------- other Base Elements --------- */

hr {
  opacity: 30%;
}

/* img.allow-zoom {
  transition: transform 300ms ease-in;
}
img.allow-zoom:hover {
  transform: scale(2);
  z-index: 100;
  position: relative;
  cursor: pointer;
} */

/* Animations */

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-8%);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8%);
  }
  40% {
    transform: translateY(0);
  }
}
@keyframes wave {
  0% {
    transform: rotate(45deg);
  }
  10% {
    transform: rotate(35deg);
  }
  20% {
    transform: rotate(55deg);
  }
  30% {
    transform: rotate(35deg);
  }
  40% {
    transform: rotate(45deg);
  }
}
@keyframes slide-down {
  15% {
    offset-distance: 2%;
  }
  35% {
    offset-distance: 83.5%;
  }
  55% {
    offset-distance: 84.5%;
    opacity: 1;
  }
  60% {
    offset-distance: 100%;
    opacity: 0;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0.2rem));
  }
}
@keyframes float {
  50% {
    transform: translateY(0.3rem);
  }
}
@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* --------------- Header --------------- */

header {
  --logo-transition: 200ms ease-in-out;
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo.icon {
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("/dz-logo.svg");

  transition: filter var(--logo-transition);
}

.logo.icon:hover {
  cursor: pointer;
  filter: drop-shadow(
    1px 1px 0 rgba(0, 0, 0, 0.2)
  );
}

.logo.icon + div {
  z-index: -1;
  opacity: 0;
  margin-left: -1.2rem;
  margin-right: auto;
  transform: skewX(-35deg);
}

.logo.icon:hover + div {
  opacity: 1;
  margin-left: 0.1rem;
  transform: skewX(0);
  transition: opacity var(--logo-transition),
    margin-left var(--logo-transition),
    transform var(--logo-transition);
}

.logo.icon + div > p {
  font-size: var(--S);
  line-height: 0.7rem;
}

.nav-icon {
  display: none;
}

.nav-items {
  font-size: var(--P);
  display: flex;
  gap: 2rem;
}

.nav-items li {
  padding: 0.2rem 1rem;
  list-style: none;
  border-radius: var(--rounded);
  background-color: var(--darker-background);
  transition: outline 100ms ease-in-out;
}

.nav-items li:hover {
  outline: 2px dashed var(--main);
}

header,
footer {
  padding: 0.7rem 1.5rem;
}

/* --------------- Footer --------------- */

footer {
  margin-top: 2rem;
  color: var(--lighter-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > a > p {
  font-size: var(--S);
  opacity: 0.5;

  transition: opacity 200ms ease-in-out;
}

footer > a > p:hover {
  opacity: 1;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.socials .icon {
  display: block;
  height: 2rem;
  width: 2rem;
  filter: saturate(0) brightness(0);

  transition: transform 200ms ease-in-out;
}

.socials .icon:hover {
  transform: scale(1.2);
}

#linkedin .icon {
  background-image: url("icons/linked-in.png");
}

#github .icon {
  background-image: url("icons/github.png");
}

/* --------------- Home Page: Hero --------------- */

.home {
  margin: 0 2rem 4rem;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
}

#hero-horizon {
  position: absolute;
  width: 200%;
  top: 8rem;
  left: -90%;
  border-top: 2px solid var(--lighter-main);
}

.hero-text {
  backdrop-filter: blur(1px);
  border-radius: var(--rounded);
  margin-top: 6rem; /* Aligns text with horizon */
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  line-height: 100%;
}

.hero h2 {
  font-family: var(--sans-serif);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 2rem;
}

.hero-text h1:first-child {
  font-family: var(--sans-serif);
  font-size: var(--H2);
  font-weight: 500;
  letter-spacing: 1px;
}

.letter-placeholder {
  opacity: 0.2;
  cursor: pointer;
}

.hero div:first-child {
  z-index: 1;
  position: relative;
  text-align: right;
}

#playground-slide {
  transform: scale(0.9);
  filter: drop-shadow(var(--shadow));
}

.greeting {
  position: absolute;
  top: -3rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;

  animation: jump 3s ease-out infinite;
}
.greeting.sliding {
  top: -0.1rem;
  left: 3rem;
  offset-path: path(
    "M0.0380859 0.999268C26.0381 1.99902 23.0381 21.999 61.0381 122.999C99.0381 223.999 143.038 246.999 241.038 240.999C339.038 234.999 593.038 219.999 657.038 214.999C721.038 209.999 864.038 198.999 910.038 218.999C956.038 238.999 971.038 297.999 971.038 297.999"
  );
  animation: slide-down 5s ease-in 1;
}

.greeting:hover {
  cursor: pointer;
}

#greeting-hand {
  height: 2rem;
  width: 2rem;

  background-image: url("/home/hand.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: saturate(0) contrast(1.5);

  transform: rotate(45deg);
  animation: wave 3s ease-in-out 1.5s infinite;
}

.home .speech-bubble {
  left: 5rem;
  top: -1rem;
  width: max-content;
}

/* --------------- Home Page: Projects --------------- */

.projects {
  max-width: 60rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects h2 {
  position: relative;
  font-family: var(--sans-serif);
  font-size: var(--P);
  font-weight: 500;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 auto 2rem;
  background-color: var(--darker-background);
  border-radius: var(--rounded);

  transition: transform 300ms ease-out;
}

.projects h2::after {
  content: "";
  position: absolute;
  display: block;
  left: calc(50% - 25px);
  width: 0;
  height: 0;
  border-left: 25px solid transparent; /* Transparent left side */
  border-right: 25px solid transparent; /* Transparent right side */
  border-top: 25px solid var(--darker-background);

  transition: transform 300ms ease-out;
}

.projects h2:hover,
.projects h2:hover::after {
  transform: translateY(5px);
}

.projects h3 {
  font-family: var(--sans-serif);
  font-size: var(--P);
  letter-spacing: 1px;
}

.projects > div {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(13rem, 1fr)
  );
  gap: 1.5rem;
}

.projects > div a {
  border-radius: var(--rounded);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  transition: transform 300ms ease-in-out,
    outline 300ms ease-in-out;
}

.projects > div a:not(.wip):hover {
  outline: 2px dashed var(--main);
  transform: translateY(-3%);
  cursor: pointer;
}

.projects > div a.wip:hover {
  opacity: 0.7;
  cursor: not-allowed;
}

.projects .modern figcaption {
  text-align: left;
  background-color: white;
}

.projects .modern figcaption h2 {
  font-family: var(--serif);
  font-size: var(--XS);
  font-weight: 800;
}

.projects .modern figcaption p {
  margin: 0 0 0.7rem 0;
  font-size: var(--S);
  line-height: 0.8;
}

.projects .tags > li {
  padding-top: 0.3rem;
  font-size: var(--S);
}

/* --------------- Home Page: Callout --------------- */
.home .callout {
  padding: 1rem 0;
}

/* --------------- Home Page: Marquee --------------- */

.marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#marquee-controller {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#marquee-controller button {
  height: 1rem;
  width: 2rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
#marquee-controller button:hover {
  transform: scale(1.2);
}
#marquee-controller input[type="range"] {
  --thumb-image: none;
  --thumb-height: 12px;
  --thumb-color: var(--main);
  --thumb-outline: 5px solid var(--background);

  width: 10rem;
  height: 1px;
  direction: rtl;

  border: 1px solid var(--main);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}
#marquee-controller
  input[type="range" i]::-webkit-slider-thumb {
  height: var(--thumb-height);
  aspect-ratio: 1;

  background-color: var(--thumb-color);
  border-radius: 50%;
  outline: var(--thumb-outline);
  box-shadow: none;

  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-appearance: none;
  appearance: none;
}
#marquee-controller
  input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;

  background-color: transparent;
  box-shadow: none;
  background-image: var(--thumb-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -moz-appearance: none;
  appearance: none;
}

.marquee-text {
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  border-bottom: 3px dashed
    rgba(var(--black), 0.1);

  display: flex;
  gap: 0.2rem;
}
.marquee-text p {
  min-width: max-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  animation: scroll linear infinite forwards;
}
.marquee-text p::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 2rem;
  margin-left: 3rem;
  margin-bottom: -0.1rem;

  background-image: url("/home/train.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.2);
}

/* --------------- Home Page: Pitch --------------- */
#pitch {
  padding: 15vh 0;
  background-color: var(--main);

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 3rem;
}

#elevator-scroll {
  top: 0;

  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-left: 2rem;
  width: 2px;
  height: 100%;
  background-color: white;
}

#pitch > div:not(#elevator-scroll) {
  position: relative;
  width: min(100%, 50rem);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#pitch div > * {
  color: var(--background);
  width: 23rem;
}

#pitch h2 {
  font-weight: 500;
  font-family: var(--sans-serif);
}

#pitch div:nth-child(1) {
  gap: 1.5rem;
}

#pitch div:nth-child(1) > p:first-of-type {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--serif);
  line-height: 100%;
}

#pitch div:nth-child(2) {
  align-self: flex-end;
}

#vacuum {
  position: absolute;
  max-width: 12rem;
  height: auto;
  right: 9rem;
  top: -8rem;
  filter: drop-shadow(
    1px 4px 3px rgba(0, 0, 0, 0.4)
  );
}

/* ------------ About Page ------------- */

.about {
  padding: 0 2rem 2rem;
  gap: 4rem;
}
.about h1 {
  font-size: var(--H2);
  text-align: center;
}
.about h2 {
  font-size: var(--S);
  font-weight: 800;
}

.about .two-col {
  position: relative;
}

.about .two-col > div {
  width: 22rem;
}

/* ---- Timeline ---- */
#journey > div:last-of-type {
  gap: 0;
  padding-left: 3rem;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  position: relative;
}

#journey::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 5rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none; /* Interact with content beneath the fade */
}

.timeline-content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.timeline-content li {
  list-style: none;
  position: relative;
}

/* Timeline dates */
.timeline-content li::before {
  z-index: 1;
  font-size: var(--XS);
  position: absolute;
  left: -2rem;
  background-color: white;
  padding: 0.1rem 0;
}
.timeline-content li:first-child::before {
  content: "2019";
}
.timeline-content li:nth-child(3)::before {
  content: "2021";
}
.timeline-content li:nth-child(4)::before {
  content: "2023";
}
.timeline-content li:nth-child(5)::before {
  content: "2025";
}

/* Timeline marker */
.timeline-marker {
  z-index: 5;
  content: "";
  display: inline-block;
  position: absolute;
  height: 2.5rem;
  width: 4rem;
  top: 1.5rem;
  left: 0;
  background-image: url("about/car.png");
  filter: drop-shadow(var(--shadow));
  transform: rotate(20deg);
}

/* Timeline line */
.timeline-content li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -1.35rem;
  height: 150%;
  border-left: 1px solid black;
}

.timeline-content a {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--lighter-main);
  transition: text-decoration 200ms ease-in-out;
}

.timeline-content a:hover {
  text-decoration-color: var(--main);
}

/* Timeline accordion */

.timeline-content .accordion,
.timeline-content .accordion-body {
  padding: 0;
}

.timeline-content .accordion,
.timeline-content .accordion-body {
  padding: 0.5rem 0.8rem;
}
.timeline-content .accordion:not(.open) {
  background-color: var(--darker-background);
  border: 2px transparent var(--main);
}

.timeline-content .accordion.open {
  background-color: var(--background);
  border: 2px solid var(--main);
  filter: drop-shadow(var(--shadow));
}

.timeline-content
  .accordion.open
  .accordion-header {
  padding-top: 1rem;
}

/* Get rid of default button */
.timeline-content .accordion button::before {
  width: 0;
  height: 0;
  background: none;
}
.timeline-content .accordion button {
  text-align: left;
  gap: 0;
}

/* Show/collapse all */
#journey > div:last-of-type > button {
  z-index: 5;
  position: sticky;
  font-size: var(--P);
  color: var(--lighter-main);
  left: 50%;
  margin-top: 1rem;
  cursor: pointer;

  transition: color 200ms ease-in-out;
}

#journey > div:last-of-type > button:hover {
  color: var(--main);
}

/* -----About Page: Callout */
#other-works {
  gap: 2rem;
}

#other-works .callout {
  position: relative;
  border: 2px dashed var(--lighter-main);
}

#other-works .callout h3 {
  font-family: var(--serif);
  font-size: var(--XS);
  font-weight: 800;
  line-height: 1.4;
}

#other-works p {
  line-height: 0.7;
}

#other-works div:nth-child(1) .icon,
#other-works div:nth-child(2) .icon {
  position: absolute;
  height: 8rem;
  width: 8rem;
  right: 0;
  filter: drop-shadow(var(--shadow)) saturate(0);
  transition: filter 200ms ease-in-out,
    transform 300ms ease-in-out;
}
#other-works div:nth-child(1) .icon {
  top: 0;
  transform: translate(0%, -50%) rotate(20deg);
}
#other-works div:nth-child(1):hover .icon,
#other-works div:nth-child(1) .icon:hover {
  filter: drop-shadow(var(--shadow)) saturate(1);
  transform: translate(0%, -50%) rotate(20deg)
    scale(1.1);
}
#other-works div:nth-child(2) .icon {
  bottom: 0;
  transform: translate(20%, 60%) rotate(-20deg);
}
#other-works div:nth-child(2):hover .icon,
#other-works div:nth-child(2) .icon:hover {
  filter: drop-shadow(var(--shadow)) saturate(1);
  transform: translate(20%, 60%) rotate(-20deg)
    scale(1.1);
}

/* ------------ Toolkit --------- */

#toolkit h3 {
  font-size: var(--XS);
  font-weight: 300;
}

#toolkit > p {
  width: 100%;
}

#toolkit,
#toolkit ul,
#toolkit li {
  display: flex;
}
#toolkit {
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
#toolkit ul {
  gap: 1rem;
}
#toolkit li {
  position: relative;
}

#toolkit li p {
  font-size: var(--);
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  transition: opacity 500ms ease;
}

#toolkit .icon {
  display: inline-block;
  content: "";
  height: 2rem;
  width: 2rem;
  margin: 0.5rem 0;

  transition: transform 500ms ease;
}

#toolkit .icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#toolkit .icon:hover + p {
  opacity: 1;
}

#toolkit > div {
  padding: 0.5rem 1rem;
  border: 2px solid var(--darker-background);
  border-radius: var(--rounded);
}

/* ---------- Artifacts ------------ */
#artifacts {
  position: relative;

  padding: 1rem 1rem 0;
  border: 2px solid var(--darker-background);
  border-radius: var(--rounded);

  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

/* All artifacts */
#artifacts > figure {
  cursor: pointer;
}

#artifacts img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(
    0px 2px 1px rgba(var(--black), 0.5)
  );
}

/* Headshot */
#headshot {
  z-index: 1;
  align-self: flex-end;
  flex: 40%;
  display: flex;
}

#headshot img {
  z-index: 2;
  position: relative;
  filter: drop-shadow(
    0 0 1px rgba(var(--black), 0.3)
  );
}

#headshot .speech-bubble {
  font-size: var(--S);
  max-width: 40ch;
  padding: 0.7rem 1rem;
  transform: translate(40%, -50%);
}
#headshot .speech-bubble p:nth-child(2) {
  margin-top: 0.5rem;
}
#headshot .speech-bubble b {
  font-weight: bolder;
}
#headshot .speech-bubble a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(var(--black), 0.25);
}
#headshot .speech-bubble a:hover {
  text-decoration-color: var(--main);
}

#headshot .speech-bubble::before {
  box-shadow: none;
}

/* Excluding headshot */

#artifacts figure:not(#headshot) {
  text-align: center;
  flex: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  animation: float 3s ease-in-out infinite;
}
#artifacts figure:not(#headshot):hover {
  z-index: 2;
}

#artifacts figure:not(#headshot) p {
  font-size: var(--S);
  max-width: 15ch;
}
#artifacts figure:nth-child(2) {
  margin-top: 2rem;
}
#artifacts figure:nth-child(3) {
  animation-delay: 1s;
}
#artifacts figure:nth-child(4) {
  margin-top: 1rem;
  animation-delay: 2s;
}

#artifacts figure:not(#headshot) img:hover {
  animation: flip 1s ease-out 0s 1;
}

/* --------------- Project Page --------------- */

.project-page {
  margin-top: 1rem;
  flex-direction: row;
  gap: 1.5rem;
}

.project-nav {
  padding-right: 0.7rem;
  opacity: 0.7;
  position: sticky;
  top: 30%;
  max-height: 70vh;
  margin-right: -10rem;
  overflow: auto;
  scrollbar-gutter: stable;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.project-nav:hover {
  opacity: 1;
}

.project-nav h2 {
  font-family: var(--sans-serif);
  font-weight: bold;
}

.project-nav ul {
  list-style: none;
}

.project-nav li {
  font-size: var(--H3);
  line-height: 1.1;
  padding: 0.2rem;
}

.project-nav li li {
  padding-left: 0.5rem;
  border-left: 1px solid var(--lighter-main);
}

.project-nav li:hover {
  background-color: rgba(var(--black), 0.1);
  cursor: pointer;
}

.project-nav-icon {
  display: none;
}

.project-page article {
  max-width: 42rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-page article h3,
.project-page article section {
  scroll-margin: 3rem;
}

.project-page img {
  height: auto;
  width: 100%;
  border-radius: var(--rounded);
}

.project-page h1 {
  text-align: center;
  font-size: 2.5rem;
}

.project-page h2 {
  font-weight: 800;
}

.project-page p {
  line-height: 1.1;
}

.project-page h1 + hr {
  margin: 1rem 0 1.5rem;
}

.project-page p > a {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--lighter-main);
  transition: text-decoration 200ms ease-in-out;
}

.project-page p > a:hover {
  text-decoration-color: var(--main);
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-header > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.project-header > div:first-of-type p {
  padding-top: 0.5rem;
}

.project-page .callout:last-of-type {
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  width: fit-content;
  border: 2px solid rgba(var(--black), 0.25);

  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;

  transition: border 200ms ease-in-out;
}

.project-page
  .callout:last-of-type
  .callout-content {
  padding: 0.3rem 0;
  gap: 0;
  flex: none;
}

.project-page .callout:last-of-type h3 {
  font-size: var(--S);
}

.project-page .callout:last-of-type p {
  width: fit-content;
  line-height: 0.8;
}
.project-page .callout:last-of-type .icon {
  margin: 0;
  width: 5.5rem;
  border-radius: 0.4rem;
  background-size: cover;
  flex: none;
}

.project-page .callout:last-of-type:hover {
  border: 2px solid var(--main);
}

/* --------------- Button Bar --------------- */

.button-bar {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: rgba(var(--black), 0.1);
  border-radius: var(--rounded);

  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.button-bar p {
  margin-right: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-bar p::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-bar a {
  font-family: var(--sans-serif);
  font-size: var(--P);
  padding: 0 1rem;
  border: 2px dotted var(--main);
  border-radius: var(--rounded);
  background-color: transparent;
  cursor: pointer;
  transition: border-style 200ms ease-in-out;
}

.button-bar a:hover {
  border-style: solid;
}

/* --------------- Carousel --------------- */

.carousel,
.carousel-nav {
  width: 100%;
}

.carousel > img:first-of-type,
.carousel-nav li > img {
  width: 100%;
  height: auto;

  border-radius: var(--rounded);
}

.carousel-nav {
  margin-top: 0.5rem;

  display: flex;
  gap: 0.8rem;

  overflow-x: hidden;
}

.carousel-nav li {
  list-style: none;
  width: 10rem;
  flex: 0 0 25%;
}

.carousel-nav li > img {
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.carousel > img:first-of-type,
.carousel-nav li > img.selected {
  box-shadow: var(--shadow);
}

.carousel-nav li > img:not(.selected) {
  filter: brightness(0.9);
}

/* --------------- Callout --------------- */

.callout {
  padding: 2rem;
  border: 2px solid var(--main);
  border-radius: var(--rounded);

  display: flex;
  gap: 1.5rem;
}

.callout .icon {
  flex: 1;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: -0.4rem;
}

.callout h3 {
  font-family: var(--sans-serif);
}

.callout-content {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --------------- Accordion --------------- */
.accordion {
  padding: 0.5rem 2rem;
  border: 2px dashed rgba(var(--black), 0.25);
  border-radius: var(--rounded);

  transition: border 300ms ease-in-out;
}

.accordion:hover {
  border: 2px solid var(--main);
}

.accordion button {
  font-family: var(--sans-serif);
  font-size: var(--P);
  font-weight: bold;
  color: var(--main);
  line-height: 1;

  display: flex;
  gap: 1rem;
  align-items: center;

  cursor: pointer;
}

.accordion button::before {
  content: "";
  display: inline-block;
  height: 0.8rem;
  min-width: 0.8rem;
  background-image: url("/icons/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 100ms ease-in-out;
}

.accordion.open button::before {
  transform: rotate(90deg);
}

.accordion-body {
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* --------------- One Column --------------- */
.one-col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.one-col li {
  margin-left: 2rem;
  padding-left: 1rem;
}

/* --------------- Two Column --------------- */
.two-col {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.two-col > div {
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------ Captioned Image ------------- */
.image-caption img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--rounded);
}

.image-caption figcaption {
  text-align: center;
  font-size: var(--P);
}

.scrapbook figcaption {
  font-size: var(--S);
  line-height: 0.9;
  padding: 0.5rem 1rem;
  background-image: url("/decorative/tape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.3rem;
}

.modern img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modern figcaption {
  font-size: var(--S);
  line-height: 0.9;
  padding: 1rem;
  background-color: rgba(var(--black), 0.1);
  border-bottom-left-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
}

/* --------------- Project Page: Grocery App --------------- */
.grocery-app > article > .callout h3 {
  font-family: var(--serif);
  font-size: var(--S);
  line-height: 1.5;
  font-weight: 800;
}

.grocery-app #take h3 {
  margin-top: 1rem;
  font-family: var(--sans-serif);
  font-weight: bold;
}

.grocery-app #design > img:first-of-type {
  border: 2px solid var(--lighter-main);
  border-radius: var(--rounded);
}

.grocery-app #design > img {
  margin: 1rem 0;
}

.grocery-app #design .accordion-body > .two-col {
  gap: 1.5rem;
  margin: 1rem 0;
}

.grocery-app #development .button-bar p::before {
  background-image: url("/icons/search.png");
}

/* --------------- Project Page: Haiku Hunt --------------- */

.accordion .tags li {
  margin: 0;
}
.accordion .tags {
  margin-top: -0.8rem;
}

.haiku-hunt #data table {
  border: 1px solid var(--lighter-main);
  border-collapse: collapse;
  font-size: var(--P);
  line-height: 1;
  text-align: left;
}
.haiku-hunt #data caption {
  padding: 0.3rem;
  background-color: rgba(var(--black), 0.1);
}
.haiku-hunt #data th,
.haiku-hunt #data td {
  border-left: 1px solid var(--lighter-main);
}
.haiku-hunt #data th {
  padding: 0.5rem 0.8rem 0;
}
.haiku-hunt #data td {
  line-height: 0.6;
  vertical-align: top;
  padding: 0.5rem 0.8rem;
}

.haiku-hunt #data td li {
  line-height: 0.8;
  padding-left: 0.2rem;
  margin-left: 1rem;
}

.haiku-hunt #data td li::marker {
  font-size: var(--XS);
}

.haiku-hunt #data h3,
.haiku-hunt #development h3 {
  margin-top: 1rem;
}

.haiku-hunt #data img {
  margin: 1rem 0;
}

.haiku-hunt #design > p:last-of-type {
  margin-top: 1rem;
}

/* ------------ Odin Projects Page ------------- */

.odin {
  max-width: 60rem;
  text-align: center;
  margin: auto;
  padding: 0 2rem;
  gap: 2rem;
}

.odin h1 {
  font-size: var(--S);
}

.odin > p {
  margin: 0 auto 1rem;
  max-width: 70ch;
}

.odin > p a {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--lighter-main);
  transition: text-decoration 200ms ease-in-out;
}

.odin > p a:hover {
  text-decoration-color: var(--main);
}

.odin figure {
  position: relative;
}

.odin .projects .tags li:first-child {
  font-size: var(--XS);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -10%);
  background: none;
}

/* ------------ Not Found Page ------------- */

.not-found {
  text-align: center;
  margin: auto;
  gap: 1rem;
}

.not-found h1 {
  font-size: var(--S);
}

.not-found pre {
  font-size: var(--XXS);
  text-align: left;
  white-space: pre-wrap;
  width: 40ch;
  padding: 1rem;
}

.not-found div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found img {
  order: 2;
  position: relative;
  z-index: 7;
  height: auto;
  width: 13rem;
  animation: squirrel 2s linear infinite;
}

.not-found .speech-bubble {
  position: relative;
  bottom: 0;
  right: 0;
  margin-bottom: -0.5rem;
}
.not-found .speech-bubble::before,
.not-found .speech-bubble::after {
  z-index: 5;
  left: 10rem;
  bottom: -1rem;
}
.not-found .speech-bubble::after {
  height: 0.88rem;
  border-right: 2px solid rgba(var(--black), 0.1);
  border-top: 2px solid rgba(var(--black), 0.1);
}

@keyframes squirrel {
  20% {
    transform: rotate(2deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  65% {
    transform: rotate(1deg);
  }
}

/* ------------------------------------------ OTHER DEVICES -------------------------------------------------- */

@media (max-width: 1000px) {
  .hero {
    margin: 1rem;
    gap: 1rem;
  }

  #hero-horizon {
    display: none;
  }

  .hero-text {
    flex: 1;
    margin-top: 0;
  }

  .hero-text h2 {
    line-height: 0.9;
  }

  .greeting.sliding {
    left: 4rem;
    top: -1.9rem;
    offset-path: path(
      "M0.0195312 1.00222C20.5176 0.609327 11.8991 50.4984 58.4593 132.749C105.02 215 159.02 169 195.02 185.001"
    );
  }

  @keyframes slide-down {
    0% {
      top: 0rem;
      left: 2.5rem;
      offset-distance: 5%;
    }
    5% {
      top: 1rem;
      left: 3rem;
      offset-distance: 7%;
    }
    15% {
      top: 4.2rem;
      left: 6rem;
      offset-distance: 100%;
    }
    17% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
    100% {
      top: 3.5rem;
      left: 7rem;
      offset-distance: 100%;
    }
  }

  .project-nav h2 {
    font-size: var(--P);
  }

  .project-nav-icon {
    display: block;
    font-size: var(--P);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.2rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    outline: 2px solid var(--darker-background);
    border-radius: var(--rounded);
  }

  .project-nav {
    opacity: 1;
    position: fixed;
    right: 1rem;
    bottom: 4.5rem;
    padding: 1rem;
    border-radius: var(--rounded);
    transform: translateX(-90%);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    outline: 2px solid var(--darker-background);
  }
}

@media (max-width: 600px) {
  /* -------- GENERAL -------- */
  :root {
    --P: 1.5rem;
    --S: 1.3rem;
  }

  #root {
    gap: 1rem;
  }

  main,
  main.project-page {
    max-width: 100%;
    padding: 1.5rem 1rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  /* -------- Header -------- */
  header,
  footer {
    padding: 1rem;
  }

  header {
    z-index: 1000;
    width: 100%;
    position: fixed;

    outline: 3px solid rgba(var(--white), 0.9);
    border-radius: var(--rounded);

    background-color: rgba(var(--white));
  }

  /* Hamburger menu */
  .nav-icon {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  /* Each horizontal bar in hamburger menu */
  .nav-icon > div {
    height: 0.1rem;
    width: 1.5rem;
    background-color: var(--main);
    border-radius: 0.2rem;

    transition: transform 200ms ease-in-out;
  }

  .nav-icon.x-mark > div:nth-child(1) {
    transform: translateY(0.3rem) rotateZ(45deg);
  }

  .nav-icon.x-mark > div:nth-child(2) {
    display: none;
  }

  .nav-icon.x-mark > div:nth-child(3) {
    transform: translateY(-0.3rem) rotateZ(-45deg);
  }

  .nav-items {
    width: 100%;
    position: fixed;
    right: 0;
    padding: 2rem;
    margin-top: 1rem;

    background-color: white;
    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

    flex-direction: column;
    gap: 1rem;
  }

  .nav-items li {
    font-size: var(--H3);
    background-color: transparent;
  }

  /* -------- Home Page: Hero -------- */
  .home {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hero {
    transform: scale(75%);
    max-width: 100%;
    height: auto;
    gap: 0;
  }

  .greeting {
    gap: 0;
  }

  /* -------- Home Page: Projects --------- */

  .projects > div {
    gap: 2rem;
  }

  /* -------- About Page --------- */

  #journey > div:last-of-type {
    max-height: none;
    margin-left: -1.5rem;
    margin-right: -0.8rem;
  }

  .about .two-col::after {
    background: none;
  }

  .about h1 {
    margin-top: 5rem;
  }

  #artifacts {
    padding-bottom: 3.5rem;
    margin-top: -1rem;
    gap: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  #artifacts figure {
    min-width: 5rem;
    margin: 0;
  }

  #artifacts figcaption p {
    line-height: 0.7;
  }

  #headshot {
    order: 5;
    justify-content: center;
  }
  #headshot .speech-bubble {
    z-index: 2;
    left: 0;
    bottom: 0;
    transform: none;
    font-size: var(--S);
    max-width: 100%;
    padding: 0.7rem 1rem;
    outline: 2px solid var(--darker-background);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #headshot .speech-bubble::before,
  #headshot .speech-bubble::after {
    display: none;
  }

  #artifacts figure:nth-child(3) {
    margin-top: -0.7rem;
  }
  #artifacts figure:nth-child(4) {
    margin-top: 0.7rem;
  }

  #other-works div:nth-child(2) .icon {
    transform: translate(10%, 60%) rotate(-20deg);
  }
  #other-works div:nth-child(2):hover .icon,
  #other-works div:nth-child(2) .icon:hover {
    transform: translate(10%, 60%) rotate(-20deg)
      scale(1.1);
  }

  /* --------- Odin Page ------- */
  .odin {
    text-align: left;
    margin-top: 6rem;
  }

  /* -------- Project Page --------- */

  .project-header > div:first-of-type {
    text-align: center;
    flex-direction: column;
  }

  .project-page {
    margin-top: 15%;
  }

  .project-page article {
    max-width: 100%;
  }

  .project-page h1 {
    font-size: 2rem;
  }

  .project-page ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-page
    .callout:last-of-type
    .callout-content {
    flex: 2;
  }
  .project-page .callout:last-of-type .icon {
    flex: 1;
  }

  /* -------- Callout --------- */
  .callout {
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .callout h3 {
    font-size: 1rem;
  }
  .callout > .icon {
    width: 2rem;
  }

  /* -------- Accordion --------- */
  .accordion {
    padding: 1rem;
  }
  .accordion button {
    text-align: left;
    align-items: baseline;
    gap: 0.5rem;
  }
  .accordion button::before {
    min-width: 0.6rem;
  }
  .accordion-body {
    padding: 1rem 0.5rem;
  }

  .accordion .tags {
    margin-top: 0;
  }

  /* -------- Button Bar --------- */
  .button-bar a {
    width: 100%;
  }

  /* ------------ Project Page: Haiku Hunt ------------- */
  .haiku-hunt #data table,
  .haiku-hunt #data tr {
    display: flex;
    flex-wrap: wrap;
  }
  .haiku-hunt #data caption {
    width: 100%;
  }
  .haiku-hunt #data tbody {
    flex: 1;
  }

  .haiku-hunt #data tr {
    flex-direction: column;
  }
  .haiku-hunt #data th,
  .haiku-hunt #data td {
    padding: 0.5rem 0.7rem;
  }
  /* -------- Not Found -------- */
  .not-found {
    padding: 1rem;
    align-items: center;
  }

  .not-found img {
    width: 100%;
    max-width: 60vw;
  }
}

@media (max-width: 417px) {
  #artifacts figure:nth-child(2),
  #artifacts figure:nth-child(3),
  #artifacts figure:nth-child(4) {
    margin-top: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-text p {
    animation-play-state: paused !important;
    overflow-x: scroll;
  }
}
